name: Build and Push Docker Image to GHCR

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version tag for the Docker image'
        required: true

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/blucobalt/pixelotagenerator:latest
            ghcr.io/blucobalt/pixelotagenerator:${{ github.sha }}
            ghcr.io/blucobalt/pixelotagenerator:${{ github.event.inputs.version }}